<template>
    <div class="reg-form">
        <div class="info-card">
            <div class="info-card__title">New user</div>
            <div class="info-card__name">
                <span>{{$store.state.firstName}} </span>
                <span>{{$store.state.lastName}}</span>
                <span> / </span>
                <span>{{$store.state.login}}</span>
            </div>
            <div class="info-card__email">{{$store.state.email}}</div>
        </div>
        <div class="form">
            <form @submit.prevent="formSubmit">
                <div class="form__title">Sign up</div>
                <div class="form-control-group">
                    <div class="form-control__label required">Login</div>
                    <input class="form-control__text-input"
                           @input="updateLogin"
                           title="login"
                           required
                    >
                </div>
                <div class="form-control-group">
                    <div class="form-control__label required">Email</div>
                    <input type="email" class="form-control__text-input"
                           @input="updateEmail"
                           title="email"
                           required
                    >
                </div>
                <div class="form-control-group">
                    <div class="form-control__label required">Password</div>
                    <input type="password"
                           class="form-control__text-input"
                           @input="updatePassword"
                           title="password"
                           required
                    >
                </div>

                <div class="flex">
                    <div class="flex-item">
                        <div class="form-control-group">
                            <div class="form-control__label">First name</div>
                            <input class="form-control__text-input"
                                   @input="updateFirstName" title="first name">
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="form-control-group">
                            <div class="form-control__label">Last name</div>
                            <input class="form-control__text-input"
                                   @input="updateLastName" title="last name">
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <div class="flex-item">
                        <div class="form-control-group">
                            <div class="form-control__label">Country</div>
                            <div class="countries" v-on-click-outside="hideCountries">
                                <input
                                    @input="countryInput"
                                    class="form-control__text-input"
                                    placeholder="Start typing..."
                                    :value="$store.state.country">
                                <div
                                    class="countries-list"
                                    v-show="countriesListVisible"
                                >
                                    <div
                                        class="country-item"
                                        v-for="country in $store.state.countries"
                                        @click="setCountry(country)"
                                    >
                                        {{country}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-item">
                        <div class="form-control-group">
                            <div class="form-control__label">City</div>
                            <div class="countries" v-on-click-outside="hideCities">
                                <input
                                    @input="cityInput"
                                    class="form-control__text-input"
                                    placeholder="Start typing..."
                                    :value="$store.state.city">
                                <div
                                    class="countries-list"
                                    v-show="citiesListVisible"
                                >
                                    <div
                                        class="country-item"
                                        v-for="city in $store.state.cities"
                                        @click="setCity(city)"
                                    >
                                        {{city}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex">
                    <div class="flex-item">
                        <div class="form-control-group">
                            <div class="pick-a-date" v-on-click-outside="hidePicker">
                                <div class="form-control__label">Date of birth</div>
                                <div class="form-control__text-input" @click="datePickerClick">
                                    {{dateValue}}
                                </div>
                                <div class="datepicker">
                                    <date-picker
                                        v-show="pickerIsVisible"
                                        v-on:change="dateChange"
                                        v-on:dayPick="pickerIsVisible = false"
                                    ></date-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-item">
                        <div class="form-control-group">
                            <div class="form-control__label">Zip code</div>
                            <input class="form-control__text-input" type="number" pattern="[0-9]{6}"
                                   @input="updateZipCode">
                        </div>
                    </div>
                </div>

                <button
                    class="sign-up-button"
                >Sign up
                </button>
            </form>
        </div>
    </div>
</template>

<script src="./RegForm.js"></script>

<style scoped lang="scss" src="./RegForm.scss"></style>
