$main-color: #4be1ab;
$bg-color: #e9eff2;
$title-color: #343e5c;

.reg-form {
  background: $bg-color;
  min-height: 100vh;
  padding: 50px 0 300px;
}

.info-card {
  background: white;
  margin: 0 auto 20px;
  max-width: 570px;
  text-align: center;
  padding: 30px;
}

.info-card__title {
  font-size: 32px;
  padding-bottom: 25px;
  color: $title-color;
  font-weight: 300;
}

.form {
  padding: 45px 70px;
  background: white;
  max-width: 570px;
  margin: 0 auto;
}

.form__title {
  color: $title-color;
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 45px;
}

.form-control-group {
  margin-bottom: 20px;
}

.form-control__label {
  color: #7a8196;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 10px;
  &.required:after {
    content: '*';
    color: red;
  }
}

.form-control__text-input {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: left;
  border: 1px solid #d5dce6;
  border-radius: 5px;
  font-size: 14px;
  color: #3a405b;
  padding: 0 14px;
  transition: border-color 300ms;
  &:focus {
    border: 1px solid darken(#d5dce6, 10%);
    outline: none;
  }
}

.sign-up-button {
  display: block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  height: 44px;
  width: 100%;
  background: #4be1ab;
  border: none;
  outline: none;
  transition: all 300ms;
  cursor: pointer;
  margin-top: 70px;
  border-radius: 0 50px 50px 50px;
  &:hover {
    background: darken(#4be1ab, 10%);
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 0 0 200px
}

.countries {
  position: relative;
}

.countries-list {
  position: absolute;
  top: 42px;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  text-align: left;
  background: white;
  border: 1px solid #d5dce6;
  border-radius: 5px;
  padding: 5px 0;
  z-index: 10;
}

.country-item {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  &:hover {
    background: #eee;
  }
}

.pick-a-date {
  position: relative;
}

.datepicker {
  position: absolute;
  top: 60px;
  z-index: 2;
}

.empty-val {
  border-color: red;
}