<template>
    <div class="date-picker">
        <div class="calendar">
            <div class="controls">
                <span class="prev" @click="prevYear"><</span>
                <span class="actual">
                <span>{{currentYear}}</span>
                </span>
                <span class="next" @click="nextYear">></span>
            </div>
            <div class="controls">
                <span class="prev" @click="prevMonth"><</span>
                <span class="actual">
                <span>{{months[currentMonth]}}</span>
                </span>
                <span class="next" @click="nextMonth">></span>
            </div>
            <div class="days-of-week">
                <span class="day-of-week" v-for="day in daysOfWeek">{{day}}</span>
            </div>
            <div class="month">
                <div class="week" v-for="week in currentMonthArray">
                <span
                    class="day"
                    @click="setDay(day.val, day.currentMonth)"
                    v-for="day in week"
                    :class="{'current-month': day.currentMonth, 'selected-day': day.val === currentDay && day.currentMonth}"
                >{{day.val}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

  const months = [
    'january',
    'february',
    'march',
    'april',
    'may',
    'june',
    'july',
    'august',
    'september',
    'october',
    'november',
    'december'
  ];

  const daysOfWeek = [
    'Mon',
    'Tue',
    'Wed',
    'Thu',
    'Fri',
    'Sat',
    'Sun'
  ];

  const getDaysInMonth = (month, year) => {
    return new Date(year, month + 1, 0).getDate();
  };

  export default {
    name: 'DatePicker',
    data() {
      const d = new Date();

      return {
        currentYear: d.getFullYear() - 20,
        currentMonth: d.getMonth(),
        currentDay: d.getDate(),
        daysOfWeek,
        months
      }
    },
    computed: {
      currentMonthArray() {
        return this.getCurrentMonthArray();
      }
    },
    created() {
      this.emitChange();
    },
    methods: {
      nextYear() {
        if (this.currentYear < 2099) {
          this.currentYear = this.currentYear + 1;
          this.emitChange();
        }
      },
      prevYear() {
        if (this.currentYear > 1970) {
          this.currentYear = this.currentYear - 1;
          this.emitChange();
        }
      },
      nextMonth() {
        if (this.currentMonth < 11) {
          this.currentMonth = this.currentMonth + 1;
        } else {
          this.currentMonth = 0;
        }
        this.emitChange();
      },
      prevMonth() {
        if (this.currentMonth > 0) {
          this.currentMonth = this.currentMonth - 1;
        } else {
          this.currentMonth = 11;
        }
        this.emitChange();
      },
      setDay(val, currentMonth) {
        if (currentMonth) {
          this.currentDay = val;
          this.emitChange();
          this.emitDayPick();
        }
      },
      emitChange() {
        this.$emit('change', {
          year: this.currentYear,
          day: this.currentDay,
          month: this.currentMonth
        });
      },
      emitDayPick() {
        this.$emit('dayPick');
      },
      // Функция для построения сетки дней (календаря) текущего отображаемого месяца
      getCurrentMonthArray() {
        let prevMonth = this.currentMonth > 0 ? this.currentMonth - 1 : 11;
        let prevYear = prevMonth === 11 ? this.currentYear - 1 : this.currentYear;
        let prevMonthDays = getDaysInMonth(prevMonth, prevYear);
        let firstDayOfMonth = new Date(this.currentYear, this.currentMonth, 1);

        let arr = [];

        let firstDayOfWeek = firstDayOfMonth.getDay() === 0 ? 6 : firstDayOfMonth.getDay() - 1;
        let currentRow = 0;
        let currentCol = firstDayOfWeek;

        arr[currentRow] = new Array(7).fill(0);

        for (let i = 1; i <= getDaysInMonth(this.currentMonth, this.currentYear); i++) {
          arr[currentRow][currentCol] = {
            val: i,
            currentMonth: true
          };
          if (currentCol < 6) {
            // ПН - СБ
            currentCol++;
          } else {
            // ВС
            arr[currentRow + 1] = new Array(7).fill(0);
            currentRow++;
            currentCol = 0;
          }
        }

        //Дополним последний ряд
        let add = 1;
        arr[arr.length - 1] = arr[arr.length - 1].map(day => {
          if (day === 0) {
            return {
              val: add++,
              currentMonth: false
            };
          } else {
            return day;
          }
        });

        //Дополним первый ряд
        let substr = prevMonthDays;
        let reversed = arr[0].reverse();
        reversed = reversed.map(day => {
          if (day === 0) {
            return {
              val: substr--,
              currentMonth: false
            };
          } else {
            return day;
          }
        });

        arr[0] = reversed.reverse();

        return arr;
      }
    }
  }
</script>

<style lang="scss" scoped>
    $main-color: #4be1ab;
    $bg-color: #e9eff2;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .calendar {
        width: 350px;
        margin: 15px auto;
        user-select: none;
        background: white;
        border: 1px solid #d5dce6;
        border-radius: 5px;
    }

    .month {
        background: $bg-color;
    }

    .day {
        display: inline-block;
        width: calc(100% / 7);
        text-align: center;
        background: inherit;
        height: 40px;
        line-height: 40px;
        border: 1px solid transparent;
    }

    .day.current-month {
        transition: background 300ms;
        cursor: pointer;
        background: lighten($main-color, 30%);
        &:hover {
            background: lighten($main-color, 10%);
        }
    }

    .day.selected-day {
        border: 1px solid;
    }

    .day-of-week {
        display: inline-block;
        width: calc(100% / 7);
        padding: 10px 5px;
        text-align: center;
        background: lighten($main-color, 5%);
    }

    .controls {
        display: flex;
        span {
            display: inline-block;
            height: 40px;
            line-height: 40px;
        }
    }

    .prev, .next {
        flex: 0 0 calc(100% / 7);
        cursor: pointer;
    }

    .actual {
        flex: 1 0 auto;
    }
</style>
