<template>
    <div id="app">
        <reg-form></reg-form>
    </div>
</template>

<script>
  import RegForm from './components/RegForm/RegForm.vue';

  export default {
    name: 'App',
    components: {
      RegForm
    }
  }
</script>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #app {
        font-family: Roboto, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #3a405b;
    }
</style>
